<div fxLayout="row wrap">
  <mat-card>
    <mat-card-title class="title">CRUD</mat-card-title>
    <form #addProduct="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>name</mat-label>
        <input matInput ngModel name="name" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>image_link</mat-label>
        <input matInput ngModel name="image_link" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>description</mat-label>
        <input matInput ngModel name="description" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>price</mat-label>
        <input matInput ngModel name="price" />
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Add</button>
    </form>
  </mat-card>
</div>
<div fxLayout="row wrap">
  <mat-card
    ><table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Image_Link Column -->
      <ng-container matColumnDef="image_link">
        <th mat-header-cell *matHeaderCellDef>Image_Link</th>
        <td mat-cell *matCellDef="let element">{{ element.image_link }}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <div class="actionContainer">
            <button
              mat-raised-button
              color="primary"
              (click)="updateProduct(row)"
            >
              Edit
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="deleteProduct(row.id)"
            >
              Delete
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr></table
  ></mat-card>
</div>

<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<!-- <app-top-card></app-top-card> -->
<!-- ============================================================== -->
<!-- Charts -->
<!-- ============================================================== -->
<!-- <div fxLayout="row wrap">
  <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
    <app-sales-overview></app-sales-overview>
  </div>
  <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <app-visitor></app-visitor>
  </div>
</div> -->
<!-- ============================================================== -->
<!-- Chart boxes -->
<!-- ============================================================== -->
<!-- <app-income-expenss></app-income-expenss> -->
<!-- ============================================================== -->
<!-- Image and chart -->
<!-- ============================================================== -->
<!-- <div fxLayout="row wrap">
  <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <app-posts></app-posts>
  </div>
  <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
    <app-newsletter></app-newsletter>
  </div>
</div> -->
<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<!-- <div fxLayout="row wrap">
  <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <app-developer-info></app-developer-info>
  </div>
  <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
    <app-activity></app-activity>
  </div>
</div> -->
